.section {
  display: flex;
  flex-direction: column;
  position: relative;
  bottom: -50px;

}

ul {
  display: flex;
  // flex-direction: column;
}

.section a:hover {
	background-color: $light-gray;
}

li {
    padding: 5px;
}
